.addjobpage-container {
  display: flex;
}
.addjob-box {
  position: relative;
  width: 55vw;
  height: 100vh;
}
.addjob-banner {
  width: 45vw;
  height: 100vh;
  position: relative;
}
.addjob-banner img {
  position: absolute;
  width: 45vw;
  height: 100vh;
}
.banner-title {
  position: absolute;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 144.02%;
  left: 6vw;
  top: 5vh;
  color: #ffffff;
}
.addjob-content {
  position: absolute;

  left: 10vh;
  top: 5vh;
  font-family: "DM Sans";
}
.addjob-heading1 {
  margin-bottom: 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  color: #020202;
}

.addjob-input {
  width: 25vw;
  height: 4vh;

  padding-left: 10px;

  background: #ffffff;
  border: 2px solid #c2c2c2;
  border-radius: 5px;
}
.jobform-box {
  width: 45vw;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
}
.addjob-btn {
  width: 25vh;
  height: 6vh;
  border: none;
  background: #fb5858;
  border-radius: 5px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
  color: #ffffff;
}
.addjob-btn:active {
  background-color: #df4b4b;
}
.canceljob-btn {
  width: 25vh;
  height: 6vh;

  background: #ffffff;
  border: 0.848485px solid #cecece;
  border-radius: 6.50784px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
  color: #888686;
}
.canceljob-btn:active {
  background-color: #c2c2c2;
}
.addjob-btn-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 4px;
}
.option-input {
  width: 10vw;
  height: 5vh;
  margin-right: 16.3vw;
}
.signup-btn {
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}
.addjob-content form {
  display: flex;
  flex-direction: column;
}
.addjob-content label {
  margin-bottom: 15px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;

  color: #000000;
}
.addjob-content label span {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 139.69%;
  /* identical to box height, or 24px */

  letter-spacing: 0.02em;

  color: #525252;
}
